/* Dark Mode Styles */
.dark-mode {
    background-color: #1e1e1e;
    color: #f0f0f0;
}

.dark-mode header {
    background-color: #333333;
    color: #f0f0f0;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode p,
.dark-mode a {
    color: #f0f0f0;
}

.dark-mode a {
    color: #ff7849;
}

.dark-mode .contact-info i,
.dark-mode .fas,
.dark-mode .fab {
    color: #ff7849;
}

.dark-mode .form-container {
    background: linear-gradient(135deg, #333, #222);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.dark-mode .form-container input,
.dark-mode .form-container textarea {
    background-color: #333;
    color: #f0f0f0;
    border: 1px solid #444;
}

.dark-mode .form-container button {
    background-color: #ff7849;
    background-image: linear-gradient(135deg, #ff7849, #ff5733);
}

.dark-mode footer {
    background-color: #333;
    color: #f0f0f0;
}

.dark-mode footer a {
    color: #ff7849;
}

.dark-mode #map {
    filter: grayscale(100%);
}